<section class="main-container">
    <as-split direction="horizontal">
        <as-split-area [size]="20">
            <app-datasets-outline [currentDocument]="currentDocument"></app-datasets-outline>
            <app-model-outline [currentDocument]="currentDocument"></app-model-outline>
            <app-templates-outline></app-templates-outline>
        </as-split-area>
        <as-split-area [size]="50">
            <app-editor-pane [currentDocument]="currentDocument"></app-editor-pane>
        </as-split-area>
        <as-split-area [size]="30">
            <app-data-preview></app-data-preview>
        </as-split-area>
    </as-split>
</section>