

.text-input {
    width:96%;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    height:34px;
}

.column-headers {
    display:grid;
    grid-template-columns:  1fr 1.25fr 1.25fr;
}

.export-column-container {
    margin-top:16px;
}

.add-column-button {
    margin-top:10px;
    width:102px;
}

.export-column-add-view-data {
    display:grid;
    grid-template-columns:  1fr 145px;
}

.view-data-button {
    align-self: center;
}

app-column-spec-editor {
    margin-bottom:4px;
}