<div class="condition-annotate-editor-container">
    <section class="annotation-name-section">
        <div>Annotation Name:<span class="required">*</span></div>
        <div><input name="annotation-name" type="text" [(ngModel)]="conditionAnnotateArgs.annotationName" class="annotation-name-input"></div>
    </section>
    <section>
        <div>Condition:<span class="required">*</span></div>
        <div><input name="condition" type="text" [(ngModel)]="conditionAnnotateArgs.condition" class="condition-input"></div>
    </section>
</div>