
.annotation-name-input, 
.condition-input {
    width:96%;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    height:36px;
}
.required {
    color:#CA0000;
    margin-left:4px;
}
.annotation-name-section {
    margin-bottom:8px;
}