<div class="editor-pane-container">
    <mat-progress-spinner *ngIf="showProgress" mode="indeterminate"></mat-progress-spinner>
    <canvas class="thumbnail-bar"></canvas>
    <div class="search-input-container">
        <mat-icon fontIcon="add" class="filter-icon"></mat-icon>
        <input type="text" name="searchSteps" [(ngModel)]="filter" class="filter-input" placeholder="Search data and actions...">
        <mat-icon fontIcon="search" class="filter-icon"></mat-icon>
    </div>

    <div class="model-name-container">
        <span class="model-name">{{currentDocument.modelName}}</span>
        
        <div class="buttons-container">
            <button class="run-model-button" (click)="runModel()"><img src="./assets/play.svg" class="play-button"><span>Run</span></button>
            <div class="button-container" [ngClass]="{'selected':currentView===SelectedCodeView.Block}">
                <img src="./assets/lowcodeview.svg" class="img-button" (click)="changeView(SelectedCodeView.Block)">
            </div>
            <div class="button-container" [ngClass]="{'selected':currentView===SelectedCodeView.Step}">
                <img src="./assets/pipeline.svg" class="img-button" (click)="changeView(SelectedCodeView.Step)">
            </div>
            <div class="button-container" [ngClass]="{'selected':currentView===SelectedCodeView.Code}">
                <img src="./assets/codeview.svg" class="img-button" (click)="changeView(SelectedCodeView.Code)">
            </div>
        </div> 
        <!-- <mat-button-toggle-group [(ngModel)]="currentView">
            <mat-button-toggle [value]="SelectedCodeView.LowCode"><img src="./assets/lowcodeview.svg" class="img-button"></mat-button-toggle>
            <mat-button-toggle [value]="SelectedCodeView.Diagram"><img src="./assets/pipeline.svg" class="img-button"></mat-button-toggle>
            <mat-button-toggle [value]="SelectedCodeView.Code"><img src="./assets/codeview.svg" class="img-button"></mat-button-toggle>
        </mat-button-toggle-group> -->
    </div>

    <div class="bread-crumb-container">
        <app-breadcrumb [text]="'my org'" [context]="null" [iconType]="BreadcrumbIconType.Org"></app-breadcrumb>
        <app-breadcrumb [text]="currentDocument.modelName" [context]="null" [iconType]="BreadcrumbIconType.Model"></app-breadcrumb>
        <app-breadcrumb *ngFor="let breadcrumb of breadcrumbs" [text]="breadcrumb.name" [iconType]="breadcrumb.iconType" [context]="breadcrumb.stepId" [rightMostCrumb]="breadcrumb.isLast"></app-breadcrumb>
    </div>

    <app-model-editor [currentDocument]="currentDocument"></app-model-editor>
</div>