.condition-input,.lower-bound-input,.operator-input,.upper-bound-input {
    width:96%;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    height:36px;
}
.required {
    color:#CA0000;
    margin-left:4px;
}

.filter-range-section {
    display: flex;
}