<div class="step-container" draggable="true" (dragover)="dragOver($event)" (dragstart)="dragStart($event)" (drop)="drop($event)">
    <div class="step-header">
        <img src="./assets/step.svg" class="step-icon">
        <span class="step-label">Step:</span>
        <app-step-type-dropdown [(stepType)]="step.stepType"></app-step-type-dropdown>
        <span class="step-description" *ngIf="!editing" (click)="editing=true">{{step.description}}</span>
        <input class="step-description" *ngIf="editing" [(ngModel)]="step.description" (blur)="editing=false" (keyup.enter)="editing=false">
        <section class="expander-section">
            <mat-icon fontIcon="arrow_drop_down" class="expander-icon" *ngIf="expanded" (click)="expanded = !expanded"></mat-icon>
            <mat-icon fontIcon="arrow_drop_up" class="expander-icon" *ngIf="!expanded" (click)="expanded = !expanded"></mat-icon>
        </section>
    </div>
    <div class="step-component-container" *ngIf="expanded && selectedCodeView === SelectedCodeView.Step">
        <div *ngIf="step.stepType===StepType.Pipeline">TODO</div>
        <div *ngIf="step.stepType===StepType.Group">TODO</div>
        <div *ngIf="step.stepType===StepType.Merge">TODO</div>
        <div *ngIf="step.stepType===StepType.SqlPopulate">TODO</div>
        <app-sql-annotate-editor [step]="step" *ngIf="step.stepType===StepType.SqlAnnotate"></app-sql-annotate-editor>
        <app-condition-annotate-editor [step]="step" *ngIf="step.stepType===StepType.ConditionAnnotate"></app-condition-annotate-editor>
        <app-filter-editor [step]="step"  *ngIf="step.stepType===StepType.Filter"></app-filter-editor>
        <app-export-editor [step]="step"  *ngIf="step.stepType===StepType.Export"></app-export-editor>
    </div>
    <div class="step-component-container" *ngIf="expanded && selectedCodeView === SelectedCodeView.Code">
        <app-low-code-editor [step]="step"></app-low-code-editor>
    </div>
</div>