.step-container {
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    margin-bottom:5px;
}

.step-header {
    display: grid;
    grid-template-columns: .25fr .5fr 1fr 4fr 1fr;
    background: #F6F6F6;

    height:39px;
    align-items: center;
}

.step-header.block-header {
    background: #FFFFFF;
    
}

.step-icon {
    margin-left: 9px;
    height:18px;
    width:18px;
}

.step-label {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;

    color: #3C3C3D;
    margin-left:9px;
    margin-right:2px;
}

.step-description {
    padding-left:10px;
    margin-top:2px;
}

input.step-description {
    width:100%;
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    height:26px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top:1px;
}

.expander-section {
    justify-self: center;
}
.step-component-container {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:8px;
    padding-right:8px;
}.no-padding {
    padding:0;
}

:host ::ng-deep mat-select .mat-mdc-select-value {
    padding:5px;
    padding-left:8px;
    padding-top:6px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color:#3C3C3D;
}