<div class="model-editor-container">
    <div class="model-item" *ngFor="let step of steps">
        <app-group-editor *ngIf="step.stepType===StepType.Group" [step]="step" [isLastGroup]="step.stepId === lastStepId"></app-group-editor>
        <div class="standalone-step-container" *ngIf="step.stepType !== StepType.Group">
            <app-step-editor [step]="step"></app-step-editor>
            <div class="group-next-arrow" (dragover)="dragOverArrow($event, step)" (drop)="dropOnArrow($event, step)">
                <img src="./assets/arrow.svg">
                <img src="./assets/add_circle.jpg" class="add_circle_outline" *ngIf="step.stepId===lastStepId" (click)="addNew()">
            </div>
        </div>
    </div>
</div>