.model-editor-container {
    margin-top:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.standalone-step-container {
    width:380px;
    margin:auto;
}

.group-next-arrow img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add_circle_outline {
    color:#767676;
    position:relative;
    top:-32px;
}