<div class="group-component-container" (click)="setFocus()">
    <div class="group-container" [ngClass]="{'group-selected':groupIsSelected}">
        <div class="group-header" (dragover)="dragover($event)" (drop)="drop($event)">
            <span *ngIf="!editing" (click)="showDescriptionInput($event)" class="group-name-label">{{group.description}}</span>
            <input *ngIf="editing" type="text" name="group-name" [(ngModel)]="group.description" class="group-name-input" (focusout)="editing=false" #groupNameInput>
        </div>
        <div class="step-container" *ngIf="currentView !== SelectedCodeView.Block">
            <app-step-editor [step]="step" *ngFor="let step of group.arguments?.steps" [groupId]="group.stepId"></app-step-editor> 
        </div>
        <div class="step-container" *ngIf="currentView === SelectedCodeView.Block">
            <app-step-environment-variables [step]="group"></app-step-environment-variables>
        </div>
        <div class="add-new-step-container" *ngIf="currentView !== SelectedCodeView.Block">
            <mat-icon fontIcon="add_circle_outline" class="add-icon" (click)="addNewStep()"></mat-icon>
            <span class="add-text">Add:</span>
            <app-step-type-dropdown placeholder="Click to add a new step" [(stepType)]="newStepType"></app-step-type-dropdown>
        </div>
    </div>
    <div class="group-next-arrow">
        <img src="./assets/arrow.svg">
        <img src="./assets/add_circle.jpg" class="add_circle_outline" *ngIf="isLastGroup" (click)="addNewGroup()">
    </div>
</div>