<div class="group-component-container">
    <div class="group-container">
        <div class="group-header">
            {{group.description}}
        </div>
        <div class="step-container">
            <app-step-editor [step]="step" *ngFor="let step of group.arguments?.steps"></app-step-editor>
        </div>

        <div class="add-new-step-container">
            <mat-icon fontIcon="add_circle_outline" class="add-icon"></mat-icon>
            <span class="add-text">Add:</span>
            <app-step-type-dropdown placeholder="Click to add a new step"></app-step-type-dropdown>
        </div>
    </div>
    <div class="group-next-arrow">
        <img src="./assets/arrow.svg">
        <img src="./assets/add_circle.jpg" class="add_circle_outline" *ngIf="isLastGroup" (click)="addNewGroup()">
    </div>
</div>