.top-level-expander {
    height: 36px;
    background: #F2F2F2;
    text-transform: uppercase;
    font-size: 14px;
}

mat-form-field {
    padding-top: 10px;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding-right:0;
}

.model-outline-body {
    max-height: 30vh;
    overflow-y: auto;
}