<div>
    <section class="outline-container" *ngFor="let step of steps">
        <div class="step-container" [ngClass]="{'selected-step':step.stepId===currentStepId}" draggable="true" (dragstart)="dragStart($event, step)" (dragover)="dragOver($event, step)" (drop)="drop($event, step)">
            <section class="expand-section">
                <mat-icon fontIcon="arrow_drop_down" *ngIf="expand[step.stepId] && expandableStep(step)" (click)="toggleExpand(step)"></mat-icon>
                <mat-icon fontIcon="arrow_right" *ngIf="!expand[step.stepId] && expandableStep(step)" (click)="toggleExpand(step)"></mat-icon>
            </section>
            <section class="icon-section">
                <img src="./assets/pipeline.svg" *ngIf="step.stepType==='pipeline'" class="step-icon">
                <img src="./assets/group.svg"  *ngIf="step.stepType==='group'" class="step-icon">
                <img src="./assets/step.svg"  *ngIf="!['pipeline','group'].includes(step.stepType)" class="step-icon">
            </section>
            <section class="description-section" (click)="setContextToStep(step)">
                <p class="description-text">{{step.description}}</p>
            </section>
        </div>
        <div *ngIf="expand[step.stepId]" class="child-steps-container">
            <app-model-outline-group *ngIf="step.stepType==='group' || step.stepType==='pipeline'" [filter]="filter" [steps]="getGroupSteps(step)" [isFirstLevel]="false" [parentId]="step.stepId"></app-model-outline-group>
        </div>
    </section>
</div>