form {
    display:inline-block;
    padding-right:5px;
}

select {
    border: 1px solid #CBCBCB;
    border-radius: 4px;
    height: 36px;
    line-height: 20px;
    width:45px;
    text-align: center;
}